.nav {
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 120px;
  width: 100%;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #A100FF;
  position: fixed;
}

.nav a {
  text-decoration: none;
  color: white;
  margin: 0 30px;
  font-size: 24px;
}

.nav a:hover {
  color: #6295F2;
}

.logo img {
  width: 250px;
  margin-left: 30px;
}
.links {
  display: flex;
  margin-right: 30px;
  letter-spacing: 1px;
}
.link-welcome {
  font-size: 24px;
  margin: 0 30px;
}
