.signup-container {
  margin: 180px 0 80px 0;
}

.signup-container h3 {
  font-size: 40px;
  font-style: italic;
}

.first-last-name {
  display: flex;
  justify-content: center;
}

.first-last-name input {
  height: 40px;
  width: 320px;
  margin: 10px;
  padding: 10px 10px 10px 15px;
  background-color: rgb(209, 209, 209);
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.first-last-name input:focus {
  outline-color: black;
}

.first-last-name ::placeholder {
  color: black;
}

.credentials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.credentials input {
  height: 40px;
  width: 687px;
  margin: 10px;
  padding: 10px 10px 10px 15px;
  background-color: rgb(209, 209, 209);
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.credentials input:focus {
  outline-color: black;
}

.credentials ::placeholder {
  color: black;
}

.create-account-btn {
  background-color: #6295f2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  width: 170px;
  height: 60px;
  margin: 20px 0 20px 0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.create-account-btn:hover {
  cursor: pointer;
  box-shadow: inset 400px 50px 0 0 #a100ff;
}

.signup-container .danger {
  align-self: center;
  background-color: #e57373;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 60px;
  margin: 20px 0 20px 0;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.signup-container .danger:hover {
  cursor: pointer;
  box-shadow: inset 400px 50px 0 0 #6295f2;
}

.signup-container .danger:hover span {
  display: none;
}

.signup-container .danger:hover:before {
  content: 'CREATE';
}

@media only screen and (max-width: 1070px) {
  .signup-container {
    margin-top: 180px;
  }
  .signup-container h3 {
    margin-top: 180px;
  }
  .first-last-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .first-last-name input {
    width: 550px;
  }
  .signin-container {
    display: flex;
  }
  .credentials input {
    width: 550px;
  }
  @media only screen and (max-width: 615px) {
    .first-last-name input {
      width: 360px;
    }
    .credentials input {
      width: 360px;
    }
  }
  @media only screen and (max-width: 470px) {
    .first-last-name input {
      width: 300px;
    }

    .credentials input {
      width: 300px;
    }
  }
}
@media only screen and (max-width: 375px) {
  .first-last-name input {
    width: 220px;
  }

  .credentials input {
    width: 220px;
  }
}
