.sort-container {
  display: flex;
  justify-content: flex-end;
  width: 92.75vw;
  margin: 20px;
}

label {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-right: 10px;
}

select {
  cursor: pointer;
  border: none;
  font-size: 18px;
}

select:focus {
  outline: none;
}

@media (max-width: 500px) {
  .sort-container {
    width: 100%;
    justify-content: center;
    margin: 0px;
  }
}
